<header class="header">
    <div class="header-container">
        <a href="/" class="logo">
            <div class="logo-icon">
                <i class="bi bi-music-note"></i>
            </div>
            <h1>HarmoniaLab</h1>
        </a>
        
        <nav class="nav-desktop">
            <a href="/">Home</a>
            <a href="/pages/sobre.html">Sobre</a>
        </nav>
        
        <div class="nav-mobile">
            <button aria-label="Menu" id="menu-button">
                <i class="bi bi-list"></i>
            </button>
        </div>
    </div>
</header>