<section class="desktop">
    <h1>HarmoniaLab</h1>
    <nav>
        <ul>
            <li>
                <a href="/index.html">Home</a>
            </li>
            <!-- <li>
                <a href="#">Portfólio</a>
            </li> -->
            <li>
                <a href="/pages/sobre.html">Sobre</a>
            </li>
        </ul>    
    </nav>
</section>

<section class="phone">
    <section class="dropdown">
        <i class="svg bi-list" id="menu"></i>
        <nav class="dropdown-items menu">
            <ul>
                <section class="exit-menu">
                    <i class="svg bi-arrow-left"></i>
                    <p>Sair do Menu</p>
                </section>
                <hr>
                <li><a href="/index.html">Home</a></li>
                <!-- <li><a href="#">Portfólio</a></li> -->
                <li><a href="/pages/sobre.html">Sobre</a></li>
            </ul>    
        </nav>    
    </section>
    <h1>HarmoniaLab</h1>
    <section class="dropdown">
        <i class="svg bi-search" id="search"></i>
        <nav class="dropdown-items-search">
            <section>
                <i class="svg bi-search"></i>
                <input type="text" placeholder="Pesquisar">
                <h1 id="exit-search">X</h1>    
            </section>
            <hr>
        </nav>
    </section>
</section>